<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.qf.detravel.dao.CommentDao" >

	<resultMap id="comment" type="com.qf.detravel.entity.Comment">
		<id column="c_id" property="cId"></id>
		<result column="Did" property="dId"></result>
		<result column="content" property="content"></result>
		<result column="from_uid" property="fromUid"></result>
		<result column="commentTime" property="commentTime"></result>

	</resultMap>
	<insert id="insertComment" parameterType="com.qf.detravel.entity.Comment">
		insert into c_comment(c_id, Did, content, from_uid, commentTime) values(
		#{cId}, #{dId}, #{content}, #{fromUid}, #{commentTime})
	</insert>

	<resultMap id="reply" type="com.qf.detravel.entity.Reply">
		<id column="r_id" property="rId"></id>
		<result column="Did" property="dId"></result>
		<result column="Cid" property="cId"></result>
		<result column="from_uid" property="fromUid"></result>
		<result column="to_uid" property="toUid"></result>
		<result column="content" property="content"></result>
		<result column="replyTime" property="replyTime"></result>
	</resultMap>

	<insert id="insertReply" parameterType="com.qf.detravel.entity.Reply">
		insert into r_reply(r_id, Did, Cid, from_uid, to_uid,content,replyTime) values(
		#{rId}, #{dId}, #{cId}, #{fromUid}, #{toUid}, #{content}, #{replyTime})
	</insert>


	<resultMap id="dynamicMap" type="com.qf.detravel.entity.Dynamic">
		<id column="d_id" property="dId" jdbcType="INTEGER"/>
		<result column="d_desc" property="dDesc"/>
		<result column="d_photo" property="dPhoto"/>
		<result column="d_time" property="dTime"/>
		<result column="u_id" property="uId"/>

		<collection property="comment" ofType="com.qf.detravel.entity.Comment">
			<id column="c_id" property="cId" />
			<result column="Did" property="dId"/>
			<result column="content" property="content"/>
			<result column="from_uid" property="fromUid"/>
			<result column="commentTime" property="commentTime"/>

			<collection property="reply" ofType="com.qf.detravel.entity.Reply">
				<id column="r_id" property="rId"/>
				<result column="Did" property="dId"/>
				<result column="Cid" property="cId"/>
				<result column="from_uid" property="fromUid"/>
				<result column="to_uid" property="toUid"/>
				<result column="content" property="content"/>
				<result column="replyTime" property="replyTime"/>
			</collection>
		</collection>
	</resultMap>
	<select id="selectListByUId" resultMap="dynamicMap">
     SELECT
        *
        FROM
        (
        SELECT
        *
        FROM
        t_dynamic td
        LEFT JOIN c_comment cc ON td.d_id = cc.Did
        ) tmp
        LEFT JOIN r_reply rr ON tmp.c_id = rr.Cid
        WHERE
        u_id = 1
    </select>

 </mapper>